.hoonavbar{
    background-color: rgba(0,3,16,255);
width: 80%;
margin: auto;
font-weight: 600;
color: white;
display: flex;
justify-content: space-between;
padding: 20px;
}
.left{
display: flex;
align-items: center;
gap: 1px;
}
.right{
    display: flex;
    gap: 30px;
}
.bank{
    color: aqua;
}
.about:hover{
    color:aqua ;
    cursor: pointer;
}
.wholecontainer{
  background-color: rgba(0,3,16,255);
    width: 100%;
    margin: auto;
}